<% include ../partials/header %>

<div class="row">
	<div class="col-md-4">
			<h1><%= user.firstName + " " + user.lastName %></h1>
		<div class="thumbnail">
			<img src="<%= user.avatar %>" alt="user profile image">
			<div class="caption"><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
			<%if(currentUser && currentUser.isAdmin) { %>
			<div class="container" style="padding-bottom: 15px;">
				<a class="btn btn-xs btn-warning" href="/users/<%= user._id %>/edit">Edit Profile</a>
				<form class="delete-form" action="/users/<%= user._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-xs btn-danger">Delete</button>
                    </form>
			</div>
			<% } %>
		</div>
	</div>
	<div class="col-md-8">
		<h3><%= user.username %>'s campgrounds:</h3>
		<div class="row text-center equal-height" style="display:flex; flex-wrap:wrap">
		    <% campgrounds.forEach(function(campground){ %>
		        <div class="col-md-4 col-sm-6">
		            <div class="thumbnail">
		              <img src="<%= campground.image %>"></img> 
		              <div class="caption">
		                  <h4><%= campground.name %></h4>
		              </div>
		              <p>
		                  <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>">More Info</a>
		              </p>
		            </div>
		        </div>
		    <% }); %>
		 </div>
	</div>
</div>

<% include ../partials/footer %>